name: Test Builds

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

jobs:
  install-dependencies:
    runs-on: self-hosted
    container:
      image: ghcr.io/baremetaltestlab/bmlab-flash-toolkit:latest

    steps:
      - uses: actions/checkout@v4

      - name: Build release distributions
        run: |
          python3 -m venv .venv
          . .venv/bin/activate
          pip install -e ".[dev]"
      
        - name: Run bmlab-scan
          run: |
            . .venv/bin/activate
            bmlab-scan --help
            bmlab-scan
