name: Test Builds

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

jobs:
  test-build:
    runs-on: self-hosted
    # container:
      # image: ghcr.io/baremetaltestlab/bmlab-flash-toolkit:latest

    steps:
      - uses: actions/checkout@v4

      - name: Build release distributions
        run: |
          python3 -m venv .venv
          source .venv/bin/activate
          pip install -e ".[dev]"
      
      - name: Test bmlab-scan
        run: |
          lsusb
          . .venv/bin/activate
          bmlab-scan --log-level DEBUG
